<div>
    <h2>mi carrito</h2>
    {{#if cart}}
    <table class="table table-striped-columns">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>FOTO</th>
        </tr>
        </thead>
        <tbody id="detalleProducto">
            {{#each cart}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.img}}" alt="{{this.name}}"> </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>