<h1>LISTA DE PRODUCTOS</h1>

{{#if products}}
    {{>table}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}}

<div class="text-center">
    <a href="/" class="btn btn-dark"> <-- Home </a>
</div>

